/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url("../images/image10.avif");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card Styles */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Heading */
.card h2 {
    font-size: 1.8em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ff9800;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
}

.input-group i {
    margin-right: 10px;
    color: #888;
}

.form-control {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 1em;
}

.form-control::placeholder {
    color: #888;
}

/* Button Styles */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #e68900;
}

/* Message Styles */
#message {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
}

/* Notification Styles */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
    max-width: 300px;
    font-size: 1em;
}

.notification.show {
    display: block;
}

.notification .loading-line {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #f3f3f3;
    overflow: hidden;
    margin-bottom: 10px;
}

.notification .loading-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ff9800;
    animation: loading-line 1s ease-out infinite;
}


@keyframes loading-line {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Responsive Styles */
@media (max-width: 480px) {
    .card {
        width: 90%;
    }
}
